<div id="impressum">
    <p>Impressum</p><br /><br />

    <p>Die Social Privacy Checklist ist eine Dienstleistung der</p><br />

    <p>Trend@dress Medien AG</p>
    <p>Stadelhoferstr. 14</p>
    <p>76530 Baden-Baden</p>
    <p>E-Mail: <img src="images/emailAdress.png"/></p>
    <p>Telefon: 07221 / 3022-333</p>
    <p>Telefax: 07221 / 3022-301</p>
    <p>Vorstand: Herr Norbert Goretzki</p>
    <p>Vors. d. Aufsichtsrates: Frau Monika Adam-Goretzki</p>
    <p>Sitz der AG ist Baden-Baden</p>
    <p>Registergericht Mannheim HRB 202318</p>
    <p>Ust-Id-Nr: DE213361235</p>
    <p>St.-Nr: 36057 / 60500</p>  
</div>
    