<div id="startContainer"> 
    <div id="progressBar"><span id="progress"></span></div>
    <div id="welcomeText">
        <div class="welcomeTextBoxContainer">
            <p id="welcomeTextHeading">Und los geht’s:</p>            
            <div class="welcomeTextBox">
                <p>
                    Wähle einen Nutzertyp, der am ehesten deinem Verhalten auf Facebook entspricht. 
                    Die vier gängigsten Typen haben wir für dich vordefiniert (für eine Typenbeschreibung einfach mit der Maus drüberfahren).
                </p>
            </div>               
        </div>
    </div>  
    <div id="typeSelection">
        <ul class="nav">

        </ul>
    </div>
    <div id="checklistDummy"></div>
    <div id="chosenElement">
        <ul id="chosenElementList"></ul>
    </div>
    <div id="hoverText"><p></p></div><div id="tooltip"></div>
    <div id="tippDialog" title="Tipps">
        <p>
            Am besten öffnest du zwei Browserfenster: <br />
            in einem Fenster dein Facebook-Konto und in dem anderen diese Checkliste.<br />
            Nun hast du beide Fenster im Blick und kannst deine Einstellungen sofort vornehmen.
        </p>
        <p>
            Klicke auf den grünen Haken, sobald du eine Einstellung in deinem Facebook-Konto vorgenommen hast.<br />
            Mit den grauen Pfeilen kannst du einen Listenpunkt überspringen oder zurück blättern.
        </p>
        <p>
            Damit du immer alle Privatsphäre-Änderungen von Facebook mitbekommst,<br />
            kannst du mit dem Wecker-Symbol oben links unsere Benachrichtigungen abonnieren.<br />
            Wir informieren dich dann per E-Mail über wichtige Änderungen. 
        </p>
    </div>
</div>