<table id="welcomeContent">    
    <tr>        
        <td id="text">
            <p id="welcomeText1" class="welcomeText">Willkommen zur</p>
            <p id="welcomeText2" class="welcomeText"><img src="images/logo.png" /></p>
            <p id="welcomeText3" class="welcomeText">Facebook einfach sicher machen</p>
        </td>
    </tr>
    <tr>
        <td style="font-size:150%; padding: 0 70px;">Mit seinen Freunden online in Verbindung zu bleiben ist großartig. Aber jeder hat schon von den Gefahren auf Facebook gehört: Statusmeldungen, Bilder oder private Informationen geraten ungewollt in falsche Hände oder sind sogar für das ganze Internet sichtbar. Das kann jedem passieren, denn die Privatsphäre-Einstellungen auf Facebook sind an vielen Stellen verteilt, ziemlich undurchsichtig und kompliziert.<br /><br />Dabei kann die Kontrolle über die eigenen Daten so einfach sein – mit dieser Checkliste! Einfach Schritt für Schritt durchgehen und ab sofort Facebook sicher nutzen.<br /><br />Schütze auch deine Freunde und empfehle ihnen diesen Service!<br /><br /><br /></td>
    </tr>
    <tr>        
        <td id="startButton"><button id="showTypesButton"><span>Start</span></button></td>
    </tr>       
</table>


