<div id="articleContainer">
    <div id="articleCatDropdownContainer">                
        Kategorie: <select id="articleCatDropdown">
            <option></option>
            <option>dsfdsf</option>
            <option>sdfsd</option>
        </select>                   
        <button id="addCatButton">+</button>
    </div>                                  
    <button id="addArticleButton" class="blueButton" title="neuer Artikel">+</button>                
    <section id="articles">
        <article class="articlePreview">
            <h4>Title</h4>
            <hr>
            <p>Text text text text text..</p>
        </article>
    </section> 
</div>