<section id="checklistEdit">
    <div id="addChecklistButtonContainer">
        <button id="addChecklistButton">+</button>
    </div>
    <div id="checklistEditContainer">
        
    </div>
</section>

<div id="addNewChecklistDialog" title="Neue Checklist">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="newChecklistInputName" /></td>
        </tr>
    </table>
    <button class="blueButton" id="submitCreateNewChecklistButton">Erstellen</button>
</div>